@import '../../colors';


#scr-main::-webkit-scrollbar {
    display: none;
}

#scr-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;

    #form-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }

    form {

        position: absolute;
        margin-top: .5rem;
        background-color: $white;
        width: 13rem;
        border-radius: .5rem;
        border: 3px solid $grey;

        >label,
        >h3 {

            color: $dark-grey;
            margin-bottom: .2rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        >label {
            margin: .5rem 0 .3rem 0;
            font-size: .4rem;
        }

        >h3 {
            margin: 0 0 .5rem 0;
            font-size: .4rem;
            color: $red;
        }

        >div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;

            >input {
                background-color: $beige;
                width: 9rem;
                height: 1.2rem;
                border: 0;
                padding-left: .2rem;
                border-radius: 5px 0 0 5px;
                font-size: .5rem;
                margin-bottom: .5rem;

                &:focus {
                    outline: none;
                    background-color: $beige;
                }
            }

            >button {
                margin-bottom: .5rem;
                background-color: $beige;
                width: 1.2rem;
                height: 1.2rem;
                border-radius: 0 5px 5px 0;
                border: none;
            }
        }

    }
    
    background-image: url(/assets/map.svg);
}