@import '../../colors';

#pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $white;

    #poke-name {
        font-size: 1rem;
        font-weight: 600;
        margin: .2rem;
    }

    #details {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        #top-container {
            display: flex;
            justify-content: space-between;

            #top-left {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: .5rem;
                margin-bottom: .5rem;

                img {
                    width: 6rem;
                    aspect-ratio: 1/1;
                    object-fit: contain;
                }

                h2 {
                    font-size: .7rem;

                }

                ;


            }

            ;

            #top-right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                border-right: 3px double $dark-grey;
                border-bottom: 3px double $dark-grey;
                margin-right: .5rem;
                margin-bottom: .5rem;

                .info {
                    font-size: .7rem;
                    margin: .2rem;
                }

                #sizes {
                    h2 {
                        font-size: .7rem;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                    }
                }



                #poke-type {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-end;

                    span {
                        font-size: .7rem;
                        margin-right: .2rem;
                        margin-bottom: .2rem;
                        padding: .1rem .3rem;
                        border-radius: .3rem;
                        border: $dark-grey 1px solid;
                    }

                    #normal {
                        background-color: $beige;
                        color: $dark-grey;
                    }

                    #fighting {
                        background-color: $orange;
                        color: $white;
                    }

                    #flying {
                        background-color: $yellow;
                        color: $dark-grey;
                    }

                    #poison {
                        background-color: $purple;
                        color: $white;
                    }

                    #ground,
                    #rock {
                        background-color: $brown;
                        color: $white;
                    }

                    #bug {
                        background-color: $green;
                        color: $white;
                    }

                    #ghost,
                    #ice {
                        background-color: $light-blue;
                        color: $white;
                    }

                    #steel {
                        background-color: $dark-grey;
                        color: $white;
                    }

                    #fire {
                        background-color: $red;
                        color: $white;
                    }

                    #water {
                        background-color: $blue;
                        color: $white;
                    }

                    #grass {
                        background-color: $light-green;
                        color: $white;
                    }

                    #electric {
                        background-color: $yellow;
                        color: $blue;
                    }

                    #psychic {
                        background-color: $light-purple;
                        color: $white;
                    }

                    #dragon {
                        background-color: $dark-red;
                        color: $white;
                    }

                    #dark {
                        background-color: $dark-grey;
                        color: $white;
                    }

                    #fairy {
                        background-color: $pink;
                        color: $white;
                    }

                    #shadow {
                        background-color: $dark-blue;
                        color: $white;
                    }

                    #unknown {
                        background-color: $white;
                        color: $dark-grey;
                    }
                }
            }
        }

        #bottom-container {
            display: flex;

            #bottom-left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: .5rem;
                letter-spacing: -1.2px;
                border: 3px double $dark-grey;
                padding: .2rem;
                gap: .3rem;
                width: 5rem;
                height: fit-content;

                div {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }

                h3 {
                    font-size: .7rem;
                }

                h2 {
                    font-size: .6rem;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                }
            }



            #bottom-right {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                letter-spacing: -1px;
                padding: .5rem;

                h3 {
                    font-size: .8rem;
                }

                #abilities {
                    h3 {
                        margin-bottom: .3rem;
                    }

                    >div {
                        display: flex;
                        flex-wrap: wrap;

                        >span {
                            font-size: .7rem;
                            width: fit-content;
                            margin-right: .2rem;
                            margin-bottom: .2rem;
                            padding: .1rem .3rem;
                            border-radius: .3rem;
                            background-color: $beige;
                            border: $dark-grey 1px solid;
                        }
                    }
                }
            }
        }



    }
}