@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/pretendo');
@import 'colors';


* {
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(59, 75, 202);
  background: radial-gradient(circle, rgba(59, 75, 202, 1) 0%, rgba(87, 176, 242, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .7rem;
  user-select: none;

  @media only screen and (min-width: 480px) and (min-height: 890px) {
    padding-top: 2rem;
  }
}


#gbc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  height: 40rem;
  padding: 1rem 1rem 0 1rem;
  background-color: $yellow;
  border-radius: 10px 10px 100px 10px;
  -webkit-box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.75);

  @media only screen and (min-width: 480px) and (min-height: 790px) {
    width: 23rem;
    height: 46rem;
    padding: 2.5rem 1rem 0 1rem;
  }

  @media only screen and (min-width: 480px) and (min-height: 890px) {
    width: 25rem;
    height: 50rem;
  }

  #scr-border {
    width: 18rem;
    height: 28rem;
    padding: 2rem 1rem 0;
    background-color: $dark-grey;
    border-radius: 10px 40px 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media only screen and (min-width: 480px) and (min-height: 790px) {
      width: 21rem;
      height: 44rem;
    }

    @media only screen and (min-width: 480px) and (min-height: 890px) {
      width: 22rem;
      height: 50rem;
    }
    #select-menu{
      position: absolute;
      width: 14rem;
      height: 14rem;
      background-color: $beige;
      z-index: 100;
      border-radius: .5rem;
      border: 2px solid $grey;
      margin-top: 1rem;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      
      > h2{
        font-family: 'Fugaz One', cursive;
        font-size: 1.5rem;
        color: $dark-grey;
        text-align: center;
      }
      > a{
        width: 7rem;
        height: 7rem;
      }
    }

    #start-menu {
      position: absolute;
      width: 10rem;
      height: 10rem;
      background-color: $beige;
      z-index: 100;
      border-radius: .5rem;
      border: 2px solid $grey;
      margin-top: 1rem;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      >button {
        border: 1px solid $grey;
        border-radius: .5rem;
        background-color: $beige;
        cursor: pointer;
        padding: .5rem;
      }

      >div {
        button {
          background-color: $beige;
          cursor: pointer;
          border: 1px solid $grey;
          padding: .5rem;
        }

        :first-child {
          border-radius: .5rem 0 0 .5rem;
        }

        :nth-child(2) {
          border-radius: 0 .5rem .5rem 0;
        }
      }

      input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        margin: 10px 0;
      }

      input[type="range"]:focus {
        outline: none;
      }

      input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8px;
        cursor: pointer;

        box-shadow: 1px 1px 1px $grey, 0px 0px 1px $dark-grey;
        background: $blue;
        border-radius: 1.3px;
        border: 0.2px solid $dark-grey;
      }

      input[type="range"]::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px $dark-grey, 0px 0px 1px $dark-grey;
        border: 1px solid $dark-grey;
        height: 20px;
        width: 20px;
        border-radius: 50px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -8.5px;
      }

      input[type="range"]:focus::-webkit-slider-runnable-track {
        background: $blue;
      }

      input[type="range"]::-moz-range-track {
        width: 100%;
        height: 8px;
        cursor: pointer;

        box-shadow: 1px 1px 1px $dark-grey, 0px 0px 1px $dark-grey;
        background: $blue;
        border-radius: 1.3px;
        border: 0.2px solid $dark-grey;
      }

      input[type="range"]::-moz-range-thumb {
        box-shadow: 1px 1px 1px $dark-grey, 0px 0px 1px $dark-grey;
        border: 1px solid $dark-grey;
        height: 20px;
        width: 20px;
        border-radius: 50px;
        background: #ffffff;
        cursor: pointer;
      }

      input[type="range"]::-ms-track {
        width: 100%;
        height: 8px;
        cursor: pointer;

        background: transparent;
        border-color: transparent;
        color: transparent;
      }

      input[type="range"]::-ms-fill-lower {
        background: #2a6495;
        border: 0.2px solid $dark-grey;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px $dark-grey, 0px 0px 1px $dark-grey;
      }

      input[type="range"]::-ms-fill-upper {
        background: $blue;
        border: 0.2px solid $dark-grey;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px $dark-grey
      }
    }

    #screen {
      padding: 0;
      width: 16rem;
      height: 16rem;

      @media only screen and (min-width: 480px) and (min-height: 790px) {
        width: 17rem;
        height: 17rem;
      }

      @media only screen and (min-width: 480px) and (min-height: 890px) {
        width: 18rem;
        height: 18rem;
      }
    }

    #logo {
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-family: 'Fugaz One', cursive;
        font-size: 1.5rem;
        color: $grey;
        padding: .1rem .5rem;

        >span {
          font-family: 'comic sans ms';
          font-weight: bold;
        }

        ;

        :first-child {
          color: #bc5134;
        }

        :nth-child(2) {
          color: $blue;
        }

        :nth-child(3) {
          color: $light-green;
        }

        :nth-child(4) {
          color: #F2C94C;
        }

        :nth-child(5) {
          color: #4ac5f2;
        }
      }
    }
  }

  ;

  #bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 0px 0px 100px 0px;
    padding-bottom: 3.5rem;

    #start {
      display: flex;
      align-items: center;
      justify-content: center;

      #watermark {
        font-family: 'Pretendo', sans-serif;
        font-size: 1.1rem;
        color: #deba37;
        border: 3px solid #deba37;
        padding: .1rem .5rem;
        border-radius: 15px;
      }
    }

    #mid {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      @media only screen and (min-width: 480px) and (min-height: 790px) {
        width: 85%;
      }

      #dpad {
        width: 6rem;
        height: 6rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;


        >div {
          background-color: $blue;

        }

        #down,
        #right {
          -webkit-box-shadow: 1.5px 1.5px 9px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 1.5px 1.5px 9px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1.5px 1.5px 9px 0px rgba(0, 0, 0, 0.75);
          transition: all .1s ease-in-out;

          &:active {
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
            transform: skew(0deg, 0deg) translate(0px, 0px);
          }
        }

        #up {
          grid-area: 1 / 2 / 2 / 3;
          border-radius: 10px 10px 0 0;
          -webkit-box-shadow: 1.5px -1.5px 9px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 1.5px -1.5px 9px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1.5px -1.5px 9px 0px rgba(0, 0, 0, 0.75);
          transition: all .1s ease-in-out;

          &:active {
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
            transform: skew(0deg, 0deg) translate(0px, 0px);
          }
        }

        #left {
          grid-area: 2 / 1 / 3 / 2;
          border-radius: 10px 0 0 10px;
          -webkit-box-shadow: -1.5px 1.5px 9px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: -1.5px 1.5px 9px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -1.5px 1.5px 9px 0px rgba(0, 0, 0, 0.75);
          transition: all .1s ease-in-out;

          &:active {
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
            transform: skew(0deg, 0deg) translate(0px, 0px);
          }
        }

        #right {
          grid-area: 2 / 3 / 3 / 4;
          border-radius: 0 10px 10px 0;

        }

        #down {
          grid-area: 3 / 2 / 4 / 3;
          border-radius: 0 0 10px 10px;
        }

        #center {
          grid-area: 2 / 2 / 3 / 3;
          z-index: 10;
          box-shadow: none;
        }
      }

      #buttons {
        width: 6rem;
        height: 6rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        #a,
        #b {
          border-radius: 50%;
          padding: 1rem;
          font-size: 1rem;
          -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.75);
          transition: all .1s ease-in-out;

          &:active {
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
            transform: scale(0.97);
          }
        }

        #a {
          background-color: #bc5134;
          grid-area: 1 / 2 / 2 / 3;
          color: #56281b;
        }

        #b {
          background-color: $light-green;
          grid-area: 2 / 1 / 3 / 2;
          color: #516b2d;
        }
      }
    }

    #poketm {
      img {
        width: 10rem;
        object-fit: contain;
      }
    }

    #end {
      display: flex;
      gap: 1.7rem;

      >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;

        span {
          width: 2.2rem;
          height: .7rem;
          background-color: $dark-grey;
          border-radius: 7px;
          -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
          transition: all .1s ease-in-out;
        }

        &:active {
          span {
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
            transform: scale(0.97);
          }
        }

        p {
          font-size: .5rem;
          color: #deba37;
        }
      }
    }
  }
}